/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    margin-top: -4px;
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1, p {
    margin: 0;
  }


.main-1{
      text-align: center;
  }
  #gallery{
    width: -webkit-fill-available;
    height: 900px;
  }